.js-only {
    display: none;
}

.js-only.js-present {
    display: inherit;
}

.js-hide {
    display: inherit;
}

.js-hide.js-present {
    display: none;
}

.wb-normal {
    word-break: normal;
}

.choices__item.choices__item--choice.choices__item--selectable {
    padding-right: 10px;
}
.choices__item.choices__item--choice.choices__item--selectable::after {
	display: none;
}

.external-link::after {
    content: 'open_in_new';
    font-family: 'Material Icons';
    font-size: 80%;
}

.header-logo {
    max-width: 20rem;
}

html,
body {
   margin:0;
   padding:0;
   height:100%;
   font-size: 18px;
}
/* .container {
    min-height: 100%;
    position: relative;
}
main {
    padding-bottom: 196px;
}
footer {
   position: absolute;
   bottom: 0;
   min-height: 180px;
} */

/* form inputs */
.is-focused .choices__inner,
.is-open .choices__inner,
.choices__inner,
.ngo-input {
    border-radius: 6px;
    border-color: #d8dedf;
    border-style: solid;
    background-color: white;
}

.choices__input {
    background-color: white;
}

.choices__list--multiple .choices__item.is-highlighted,
.choices__list--multiple .choices__item {
    background-color: #f2f7f7;
    color: #0ca777;
    border: 0;
}

.choices[data-type*="select-multiple"] .choices__button,
.choices[data-type*="text"] .choices__button {
    border: 0;
    color: #0ca777;
    padding-left: 16px;
    margin-left: 0px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjMGNhNzc3IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yLjU5Mi4wNDRsMTguMzY0IDE4LjM2NC0yLjU0OCAyLjU0OEwuMDQ0IDIuNTkyeiIvPjxwYXRoIGQ9Ik0wIDE4LjM2NEwxOC4zNjQgMGwyLjU0OCAyLjU0OEwyLjU0OCAyMC45MTJ6Ii8+PC9nPjwvc3ZnPg==);
}


/* custom checkbox */
.custom-checkbox input[type=checkbox] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.custom-checkbox .checkmark {
    width: 16px;
    height: 16px;
    border: 2px solid #d8dedf;
    border-radius: 6px;
    display: inline-block;
}
.custom-checkbox .checkmark i {
    display: none;
}
.custom-checkbox input:checked + .checkmark i {
    display: inherit;
    margin-left: -2px;
    margin-top: -6px;
}


/* Hover links */
.link.blue:hover {
    filter: brightness(80%);
    text-decoration: underline;
}
.darken:hover {
    filter: brightness(80%);
}

/* styling of plotly chart buttons */
.plot-container.plotly svg text {
    font-family: 'Source Sans Pro', sans-serif !important;
    font-size: 16px !important;
}

.plot-container.plotly svg rect.updatemenu-item-rect {
    fill: #D8DEDF !important;
    stroke: #D8DEDF !important;
}
.plot-container.plotly svg text.updatemenu-item-text {
    font-family: korolev, sans-serif !important;
    font-size: 14px !important;
}

/* Loading spinner */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #0ca777;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}