#simple-filter P {
    min-height: 42px;
}

/* borders for inputs */

.bb-light-yellow,
.bb-light-yellow.is-focused {
    border-color: black black rgb(59, 59, 59);
    border-style: solid;
    border-width: 0px 0px 1px;
    border-radius: 0px;
}


/* Inline filter dropdown */

div#area-of-operation-dropdown {
    margin-left: 6px;
    margin-bottom: -3px;
    min-width: 8rem;
    max-width: 32rem;
}
div#area-of-operation-dropdown .Select .Select-menu-outer {
    min-width: 16rem;
    max-width: 32rem;
    font-size: 14px;
    line-height: 16px;
}

.Select .Select-control {
    border-color: black black rgb(59, 59, 59);
    border-style: solid;
    border-width: 0px 0px 1px;
    border-radius: 0px;
}

.Select .Select-control,
.Select.is-focused {
    border-color: black black rgb(59, 59, 59);
    border-style: solid;
    border-width: 0px 0px 1px;
    box-shadow: none !important;
    background-color: inherit !important;
}

.Select .Select-menu-outer {
    /* background-color: #333333;
    color: #f4f4f4; */
    font-size: inherit;
    min-width: 16rem;
}

.Select .Select-menu-outer .VirtualizedSelectOption {
    cursor: pointer;
}

.Select .Select-value {
    /* color: #f4f4f4 !important; */
    margin-bottom: 7px;
}

.Select input {
    /* color: #f4f4f4 !important; */
}


/* Hide dash undo/redo */
._dash-undo-redo {
    display: none;
}