{% extends "index.html.j2" %}

{% block title %}{% trans %}Not found{% endtrans %} | NGO Explorer{% endblock %}

{% block message %}
<div class="w-100 mv3 ba bw2 b--dark-red">
    <h2 class="korolev lh-title ma0 bg-dark-red white pa1">{% trans %}Not found{% endtrans %}</h2>
    {% if lookingfor %}
    <div class="pa2">
        <p class="lh-title ma0 gray">{{ lookingfor }}</p>
    </div>
    {% endif %}
</div>
{% endblock %}