<div class="cf flex">
    <div class=" bg-yellow white pa2 f4 fl mr2">
        <span class="f1">{{ "{:,.0f}".format(data.count) }}</span><br>
        NGO{{ "s" if data.count > 1 else "" }} found
    </div>
    {% if data.aggregate %}
    <div class=" bg-yellow white pa2 f4 fl mr2">
        <span class="f1">£{{ data.aggregate.income.buckets|map(attribute='sumIncome')|sum|number_format }}</span><br>
        total income
    </div>
    {% endif %}
</div>
<h3>Example charities</h3>
<dl>
{% for c in data.list[0:3] %}
    <dt class="b">
        <a class="link dim green b" href="{{ url_for('data.charity', charityid=c.id) }}">
            {{ c.name|correct_titlecase }}
        </a>
    </dt>
    <dd class="mw6-l ml3">
        <p class="f6">
            {% if c.income.latest.total %}
            Income <strong>£{{ c.income.latest.total|number_format }}</strong>
            <span class="f7 i gray">({{ c.income.latest.date[0:4] }})</span>
            {% endif %}
        </p>
        {% if area %}
        <p class="f7 near-black">
            {% set cids = area.countries|map(attribute="id")|list %}
            Work in 
            {% for a in c.areas if a.id in cids %}
                {%- if loop.last and not loop.first %} and {% endif %}
                {%- if not loop.last and not loop.first -%}, {% endif %}
                {{- a.name -}}
            {% endfor %}
        </p>
        {% endif %}
    </dd>
{% endfor %}
</dl>