<div class="fl w-100 w-20-l pr3">
    <form action="{{request.path}}" id="filter-form">
        <div class="mv3 bb b--gray w-100 flex items-center">
            <i class="material-icons">search</i>
            <input name="filter-search" class="w-100 lh-copy bn bg-inherit pa2 border-box" placeholder="Search name or activities" value="{{ filters.get("filter-search", "") }}" autocomplete="off" />
        </div>
        <a href="#" class="link dark-blue dim f7 underline js-toggle js-only" data-toggle-target="more-filters" id="filters-show-hide">Show filters</a>
        <div id="more-filters">
            <div class="mv3 w-100">
                <h3 class="f5 normal mv0 b">Latest income</h3>
                <p class="f6">
                    Between 
                    <span class="bb bw2 b--light-gray dib w-33">
                        <input name="filter-min-income" type="number" id="min-income" class="input-reset pa1 bn mid-gray w-100" placeholder="Minimum" autocomplete="off">
                    </span>
                    and 
                    <span class="bb bw2 b--light-gray dib w-33">
                        <input name="filter-max-income" type="number" id="max-income" class="input-reset pa1 bn mid-gray w-100" placeholder="Maximum" autocomplete="off">
                    </span>
                </p>
            </div>
            <div class="mv3 w-100">
                <h3 class="f5 normal mb2 b">Classification</h3>
                <select class="w-100 ba b--light-gray f7 pa1 h3 js-choice" name="filter-classification" multiple="true">
                    {% for group, options in classification.items() %}
                    <optgroup label="{{ group|title }}">
                        {% for value, label in options.items() %}
                        <option value="{{value}}">{{label}}</option>
                        {% endfor %}
                    </optgroup>
                    {% endfor %}
                </select>
            </div>
            <div class="mv3 w-100">
                <p class="gray i f6">
                    Exclude any charities that say they work in more than 
                    <span class="bb bw2 b--light-gray dib">
                        <input name="filter-max-countries" value="50" type="number" class="input-reset pa1 bn w3 mid-gray" autocomplete="off" />
                    </span>
                    countries.
                </p>
            </div>
        </div>
        <input type="hidden" class="dn" value="" name="filter-skip" />
        <div class="mv3 w-100">
            <input class="bn bg-blue pa2 white dim pointer" type="submit" value="Update filters" id="filter-update" />
        </div>
    </form>
</div>