<div class="w-100 cf mt2" id="iati">
    <div class="cf">
        <div class="db fl w-30-l w-100 mh0 mv2 pr3">            
            <h3 class="korolev b lh-title pa0 ma0 tr-l">IATI Activity data</h3>
            <p class="lh-copy gray f6 tr-l mw5-l fr-l">
                <abbr title="International Aid Transparency Iniative">IATI</abbr> is a global initiative to improve the transparency of 
                development and humanitarian resources and their results to address poverty and crises. The data presented here is
                sourced from <a href="https://www.oipa.nl/home" class="link blue external-link" target="_blank">OIPA</a>.
            </p>
        </div>
        <div class="db fl w-50-l w-100 mh0 mv2">
            <p class="lh-copy pa0 ma0">
                {% if area.countries|length > 5 %}
                Select a country below to see a list of UK-registered organisations operating in 
                these countries, sourced from data published by IATI publishers.
                {% else %}
                List of UK-registered organisations operating in {% if area.countries|length > 1 %}these countries{% else %}{{ area.countries|map(attribute="name")|first }}{% endif %},
                sourced from data published by IATI publishers.
                {% endif %}
            </p>
        {% if area.countries|length > 5 %}
            <ul class="list pa0 ma0">
                {% for c in area.countries if iati_data.get(c["iso2"], []) %}
                <li class="dib mr2 pb0">
                    <a href="{{ url_for('data.country', countryid=c.iso.lower()) }}#iati"
                        class="link blue mw5 nowrap dib overflow-hidden truncate v-mid">
                        {{ c.name }}
                    </a>
                    <span class="dib mw5 nowrap dib overflow-hidden truncate f7 gray v-mid">
                        [{{ iati_data.get(c["iso2"], [])|length }}{% if loop.first %} organisations{% endif %}]
                    </span>
                </li>
                {% endfor %}
            </ul>
        {% else %}
            {% for c in area.countries if iati_data.get(c["iso2"], []) %}
            {% if area.countries|length > 1 %}
            <p class="b">{{ c["name"] }}</p>
            {% endif %}
            <ul class="list pa0 ma0">
                {% for r in iati_data.get(c.iso2, [])|sort(attribute='count', reverse=True) if r.name %}
                <li class="dib mr2 pb0">
                    <a href="https://d-portal.org/ctrack.html?publisher={{ r.ref }}#view=list_transactions&country_code={{ c.iso2 }}" target="_blank" 
                        class="link blue mw5 nowrap dib overflow-hidden truncate v-mid">
                        {{ r.name }}
                    </a>
                    <span class="dib mw5 nowrap dib overflow-hidden truncate f7 gray v-mid">
                        [{{r.count}}]
                    </span>
                </li>
                {% endfor %}
            </ul>
            {% endfor %}
        {% endif %}
            {% if area.countries|length == 1 %}
            <h3 class="korolev mh0 mt3 mb0 pa0">
                <a href="https://d-portal.org/ctrack.html?country={{ area.countries|map(attribute='iso2')|join(",") }}#view=main"
                    target="_blank" class="normal link b dark-gray external-link">
                    Data on {{ area.countries|map(attribute="name")|first }} from IATI d-portal
                </a>
            </h3>
            <iframe scrolling="no"
                src="https://d-portal.org/ctrack.html?flava=original&rgba=inspire&country={{ area.countries[0].iso2 }}&#view=frame&frame=stats&size=640"
                style="height: 304px;"
                class="w-100"
                frameborder="0"></iframe>
            {% elif area.countries|length < 20 %}
            <h3 class="korolev mh0 mt3 mb0 pa0">
                <a href="https://d-portal.org/ctrack.html?country={{ area.countries|map(attribute='iso2')|join(",") }}#view=main"
                    target="_blank" class="link blue f5 normal external-link">
                    Find more data on IATI d-portal
                </a>
            </h3>
            {% else %}
            <h3 class="korolev mh0 mt3 mb0 pa0">
                <a href="https://d-portal.org/"
                    target="_blank" class="link blue f5 normal external-link">
                    Find more data on IATI d-portal
                </a>
            </h3>
            {% endif %}
        </div>
    </div>
</div>