<div class="mb2 lh-copy f6">
    {% set skip = filters.get("filter-skip", 0)|int %}
    <p class="ma0 pa0">
        {% if data.count <= 30 %}
        Showing all <strong>{{ "{:,.0f}".format(data.count) }}</strong> NGOs
        {% else %}
        Showing <strong>{{ "{:,.0f}".format(1 + skip) }}</strong>
        to <strong>{{ "{:,.0f}".format([30 + skip, data.count]|min) }}</strong>
        of <strong>{{ "{:,.0f}".format(data.count) }}</strong> NGOs
        {% endif %}
    </p>
    <ul class="list mh0 mb0 mt1 pa0 f5">
        {% if (skip - 30) > 0 %}
        <li class="dib mr2">
            <a class="link white dim ph2 pv1 bg-gray" href="{{ pages[active_page].url|update_url({"filter-skip": 0}) }}">
                &laquo;
            </a>
        </li>
        {% endif %}
        {% if skip > 0 %}
        <li class="dib mr2">
            <a class="link white dim ph2 pv1 bg-gray" href="{{ pages[active_page].url|update_url({"filter-skip": skip - 30}) }}">
                &lsaquo; Previous
            </a>
        </li>
        {% endif %}
        {% if skip + 30 < data.count %}
        <li class="dib">
            <a class="link white dim ph2 pv1 bg-gray" href="{{ pages[active_page].url|update_url({"filter-skip": skip + 30}) }}">
                Next &rsaquo;
            </a>
        </li>
        {% endif %}
    </ul>
</div>
<table class="collapse f6">
    <thead>
        <tr>
            <th class="pa2 v-top tl"></th>
            <th class="pa2 v-top tr">Latest income</th>
            <th class="pa2 v-top tl">Activities</th>
            <th class="pa2 v-top tl">Region<br><span class="normal gray f7">(based on registered office of UK charity)</span></th>
        </tr>
    </thead>
    <tbody id="data-list">
    {% for c in data.list %}
        <tr class="striped--near-white">
            <td class="pa2 v-top">
                <a class="link dim dark-blue" href="{{ url_for('data.charity', charityid=c.id) }}">
                    <p class="pa0 ma0 f5 b">{{ c.name|correct_titlecase }}</p>
                    <p class="f7 gray mb0 mt2">Charity number <strong>{{ c.id }}</strong></p>
                </a>
            </td>
            <td class="pa2 v-top tr">
                {% if c.income.latest.total %}<p class="pa0 ma0">{{ "£{:,.0f}".format(c.income.latest.total) }}</p>{% endif %}
                {% if c.income.latest.date and c.income.latest.total %}<p class="f7 gray mb0 mt2">[{{ c.income.latest.date[0:10] }}]</p>{% endif %}
            </td>
            <td class="pa2 v-top f7">{{ c.activities|default("", true) }}</td>
            <td class="pa2 v-top f7">{{ c.geo.region|default("", true) }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<div>
    <ul class="list mh0 mb0 mt2 pa0 f5">
        {% if (skip - 30) > 0 %}
        <li class="dib mr2">
            <a class="link white dim ph2 pv1 bg-gray" href="{{ pages[active_page].url|update_url({"filter-skip": 0}) }}">
                &laquo;
            </a>
        </li>
        {% endif %}
        {% if skip > 0 %}
        <li class="dib mr2">
            <a class="link white dim ph2 pv1 bg-gray" href="{{ pages[active_page].url|update_url({"filter-skip": skip - 30}) }}">
                &lsaquo; Previous
            </a>
        </li>
        {% endif %}
        {% if skip + 30 < data.count %}
        <li class="dib">
            <a class="link white dim ph2 pv1 bg-gray" href="{{ pages[active_page].url|update_url({"filter-skip": skip + 30}) }}">
                Next &rsaquo;
            </a>
        </li>
        {% endif %}
    </ul>
</div>