<div class="w-100 pa2 bg-light-gray cf mt2">
    <div class="cf">
        <div class="db fl w-30-l w-100 mh0 mv2 tr-l pr3 b">&nbsp;</div>
        <div class="db fl w-50-l w-100 mh0 mv2">
            <h3 class="korolev lh-title pa0 ma0">Other resources</h3>
            <p class="lh-copy pa0 mh0 mv2 gray">
                We are not responsible for the content of external websites.
            </p>
        </div>
    </div>
    
    <div class="cf">
        <div class="db fl w-30-l w-100 mh0 mv2 tr-l pr3 b">
            <a href="https://ngoaidmap.org/" target="_blank" class="link b dark-gray">NGO Aid Map</a>
        </div>
        <div class="db fl w-50-l w-100 mh0 mv2">
            <p class="mt0 mb2">
                NGO Aid Map is an InterAction initiative that provides detailed
                information on InterAction's members’ work around the world through a
                web-based mapping platform.
            </p>
            <ul class="list pa0 ma0">
            {% for c in area["countries"] %}
                <li class="di mr2 pb0">
                    <a href="https://ngoaidmap.org/location/{{ c.ngoaidmap }}" target="_blank" 
                        class="link blue mw5 nowrap dib overflow-hidden truncate external-link">
                        {{ c.name }}{% if loop.length == 1 %} on NGO Aid Map{% endif %}
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
    
    <div class="cf">
        <div class="db fl w-30-l w-100 mh0 mv2 tr-l pr3 b">
            <a href="https://devtracker.dfid.gov.uk/" target="_blank" class="link b dark-gray">DfID Dev Tracker</a>
        </div>
        <div class="db fl w-50-l w-100 mh0 mv2">
            <p class="mt0 mb2">
                Dev Tracker shows the international development projects led by the Department for International Development
                (DFID), other UK government departments and partners.
            </p>
            <ul class="list pa0 ma0">
            {% for c in area["countries"] %}
                <li class="di mr2 pb0">
                    <a href="https://devtracker.dfid.gov.uk/countries/{{ c.iso2 }}/" target="_blank" 
                        class="link blue mw5 nowrap dib overflow-hidden truncate external-link">
                        {{ c.name }}{% if loop.length == 1 %} on devtracker{% endif %}
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
    
    <div class="cf">
        <div class="db fl w-30-l w-100 mh0 mv2 tr-l pr3 b">
            <a href="https://www.wango.org/" target="_blank" class="link b dark-gray">WANGO</a>
        </div>
        <div class="db fl w-50-l w-100 mh0 mv2">
            <a href="https://www.wango.org/resources.aspx?section=ngodir" target="_blank" 
                class="link blue mw5 nowrap dib overflow-hidden truncate external-link">
                Worldwide NGO Directory
            </a>
        </div>
    </div>

    {% for c in area.countries %}
        {% if c.iso.lower() in similar_initiative %}
            <div class="cf">
                <div class="db fl w-30-l w-100 mh0 mv2 tr-l pr3 b">
                    {% if area.countries|length > 1 %}
                    {{ c.name }}
                    {% else %}
                    Local resources
                    {% endif %}
                </div>
                <div class="db fl w-50-l w-100 mh0 mv2">
                    {% for i in similar_initiative[c.iso.lower()] %}
                    <div class="">
                        <p class="mt0">
                            {% if i.directlink %}
                            {{ i.title }} - 
                            <a href="{{ i.directlink|default(i.homepage) }}" target="_blank" 
                                class="link blue external-link">
                                {{ i.directlinktext|default(i.title) }}
                            </a>
                            {% else %}
                            <a href="{{ i.homepage }}" target="_blank" class="link blue external-link">
                                {{ i.title }}
                            </a>
                            {% endif %}
                            {% if i.source %}
                            <span class="pa0 ma0 lh-copy f7 gray i">
                                (Source: 
                                <a href="{{ i.source_link }}" target="_blank" 
                                    class="link dim gray underline external-link">
                                    {{ i.source }}
                                </a>)
                            </span>
                            {% endif %}
                        </p>
                        {% if i.description %}
                        <p class="pa0 ma0 lh-copy">{{ i.description }}</p>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>