{% macro showfilter(title, content, icon="filter_list") %}
<li class="flex items-center mb1">
    <i class="material-icons md-18">{{ icon }}</i> 
    {% if title %}<strong class="pr1">{{ title }}</strong>{% endif %}
    {{ content }}
</li>
{% endmacro %}


<ul class="list ma0 pa0 f7 lh-copy">
    {% if filters.get("filter-search") %}
    {{ showfilter("Search", '"{}"'.format(filters.get("filter-search")), "search") }}
    {% endif %}

    {% if filters.get("filter-max-income") and filters.get("filter-min-income") %}
        {{ showfilter("Income", "between £{:,.0f} and £{:,.0f}".format(
            filters.get("filter-min-income")|int,
            filters.get("filter-max-income")|int
        )) }}
    {% elif filters.get("filter-max-income") %}
        {{ showfilter("Income", "up to £{:,.0f}".format(
            filters.get("filter-max-income")|int
        )) }}
    {% elif filters.get("filter-min-income") %}
        {{ showfilter("Income", "over £{:,.0f}".format(
            filters.get("filter-min-income")|int
        )) }}
    {% endif %}

    {% if filters.get("filter-exclude-grantmakers") %}
        {{ showfilter("", "Does not make grants to organisations") }}
    {% endif %}

    {% if filters.get("filter-exclude-religious") %}
        {{ showfilter("", "Is not a religious organisation") }}
    {% endif %}

    {% if filters.get("filter-regions") %}
    {% set filtered_regions = filters.getlist("filter-regions") %}
        {% for c in filtered_regions %}
            {{ showfilter("UK Region", c) }}
        {% endfor %}
    {% endif %}

    {% if filters.get("filter-countries") %}
    {% set filtered_countries = filters.getlist("filter-countries") %}
        {% for c in area.countries %}
            {% if c.id in filtered_countries %}
                {{ showfilter("Country", c.name) }}
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if filters.get("filter-classification") %}
    {% set categories = filters.getlist("filter-classification") %}
    {% for i in classification.keys() %}
        {% for j in classification[i].keys() %}
            {% if j in categories %}
            {{ showfilter(i|title, classification[i][j]) }}
            {% endif %}
        {% endfor %}
    {% endfor %}
    {% endif %}
</ul>