{% macro showfilter(title, content, icon="filter_list") %}
<li class="flex items-center mb1">
    <i class="material-icons md-18">{{ icon }}</i> 
    {% if title %}<strong class="pr1">{{ title }}</strong>{% endif %}
    {{ content }}
</li>
{% endmacro %}


<ul class="list ma0 pa0 f7 lh-copy">
    {% if filters.get("filter-search") %}
    {{ showfilter(_("Search"), '"{}"'.format(filters.get("filter-search")), "search") }}
    {% endif %}

    {% if filters.get("filter-max-income") and filters.get("filter-min-income") %}
        {{ showfilter(_("Income"), _("between £%(min)d and £%(max)d",
            min=filters.get("filter-min-income")|int,
            max=filters.get("filter-max-income")|int
        )) }}
    {% elif filters.get("filter-max-income") %}
        {{ showfilter(_("Income"), _("up to £%(max)d",
            max=filters.get("filter-max-income")|int
        )) }}
    {% elif filters.get("filter-min-income") %}
        {{ showfilter(_("Income"), _("over £%(min)d",
            min=filters.get("filter-min-income")|int
        )) }}
    {% endif %}

    {% if filters.get("filter-exclude-grantmakers") %}
        {{ showfilter("", _("Does not make grants to organisations")) }}
    {% endif %}

    {% if filters.get("filter-exclude-religious") %}
        {{ showfilter("", _("Is not a religious organisation")) }}
    {% endif %}

    {% if filters.get("filter-regions") %}
    {% set filtered_regions = filters.getlist("filter-regions") %}
        {% for c in filtered_regions %}
            {{ showfilter(_("UK Region"), c) }}
        {% endfor %}
    {% endif %}

    {% if filters.get("filter-countries") %}
    {% set filtered_countries = filters.getlist("filter-countries") %}
        {% for c in area.countries %}
            {% if c.id in filtered_countries %}
                {{ showfilter(_("Country"), c.name) }}
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if filters.get("filter-classification") %}
    {% set categories = filters.getlist("filter-classification") %}
    {% for i in classification.keys() %}
        {% for j in classification[i].keys() %}
            {% if j in categories %}
            {{ showfilter(i|title, classification[i][j]) }}
            {% endif %}
        {% endfor %}
    {% endfor %}
    {% endif %}
</ul>