{% macro pagination() %}
<div class="mb2 lh-copy f6">
    {% set skip = filters.get("filter-skip", 0)|int %}
    <ul class="list mh0 mb0 mt1 pa0 flex justify-between">
        {% if skip > 0 %}
        <li class="dib">
            {% if (skip - 30) > 0 %}
            <a class="link blue" href="{{ pages[active_page].url|update_url({"filter-skip": 0}) }}">
                <i class="material-icons md-18 v-mid">first_page</i>
            </a>
            {% endif %}
            <a class="link blue" href="{{ pages[active_page].url|update_url({"filter-skip": skip - 30}) }}">
                <i class="material-icons md-18 v-mid">chevron_left</i><span class="v-mid">{% trans %}Previous{% endtrans %}</span>
            </a>
        </li>
        {% endif %}
        <li class="dib v-mid">
            {% if data.count <= 30 %}
            {% trans num=data.count|_n %}Showing all <strong>{{ num }}</strong> NGOs{% endtrans %}
            {% else %}
            {% trans n_start="{:,.0f}".format(1 + skip), n_end="{:,.0f}".format([30 + skip, data.count]|min), n_all="{:,.0f}".format(data.count) %}
            Showing <strong>{{ n_start }}</strong>
            to <strong>{{ n_end }}</strong>
            of <strong>{{ n_all }}</strong> NGOs
            {% endtrans %}
            {% endif %}
        </li>
        {% if skip + 30 < data.count %}
        <li class="dib">
            <a class="link blue" href="{{ pages[active_page].url|update_url({"filter-skip": skip + 30}) }}">
                <span class="v-mid">{% trans %}Next{% endtrans %}</span><i class="material-icons md-18 v-mid">chevron_right</i>
            </a>
            {% if skip + 60 < data.count %}
            <a class="link blue" href="{{ pages[active_page].url|update_url({"filter-skip": data.count - 30}) }}">
                <i class="material-icons md-18 v-mid">last_page</i>
            </a>
            {% endif %}
        </li>
        {% endif %}
    </ul>
</div>
{% endmacro %}


{{ pagination() }}
<table class="collapse f5 lh-copy">
    <thead>
        <tr class="bb b--mid-gray bw2">
            <th class="pa2 v-top tl dn dtc-ns mw5">{% trans %}Charity{% endtrans %}</th>
            <th class="pa2 v-top tr dn dtc-ns">{% trans %}<abbr title="Registration">Reg</abbr>. date{% endtrans %}</th>
            <th class="pa2 v-top tr dn dtc-ns">{% trans %}Latest income{% endtrans %}</th>
            <th class="pa2 v-top tl dn dtc-ns mw6">{% trans %}Activities{% endtrans %}</th>
            <th class="pa2 v-top tl dn dtc-ns">{% trans %}Region{% endtrans %} <span class="normal gray underline" title="{{ _('based on registered office of UK charity') }}">?</span></th>
        </tr>
    </thead>
    <tbody id="data-list">
    {% for c in data.list %}
        <tr class="db dt-row-ns bb b--light-gray bw1">
            <td class="pa2 v-top db dtc-ns mw5">
                <a class="link blue" href="{{ url_for('data.charity', charityid=c.id) }}">
                    <p class="pa0 ma0 b blue">{{ c.name|correct_titlecase }}</p>
                    <p class="f7 gray mb0 mt2">{% trans %}Charity number{% endtrans %} <strong>{{ c.id }}</strong></p>
                </a>
            </td>
            <td class="pa2 v-top db dtc-ns">
                {{ "{:%d/%m/%Y}".format(c.registrationDate) }}
            </td>
            <td class="pa2 v-top tr db dtc-ns">
            {% if c.finances and c.finances[0].income %}
                <p class="pa0 ma0 di db-ns">
                    <span class="di dn-ns">Latest income </span>
                    {{ "£{:,.0f}".format(c.finances[0].income) }}
                </p>
                {% if c.finances[0].financialYear %}
                <p class="f7 gray mb0 mt2 di db-ns">[{{ "{:%b %Y}".format(c.finances[0].financialYear.end) }}]</p>
                {% endif %}
            {% endif %}
            </td>
            <td class="pa2 v-top db dtc-ns mw6">
                {{ c.activities|default("", true)|correct_titlecase }}
                {% if '302' in c.operations %}
                <p class="i f6 mv2">{% trans %}Makes grants{% endtrans %}</p>
                {% endif %}
                <p class="i f6 mv2">
                {% trans %}Work in{% endtrans %} 
                {% for a in c.countries %}
                    {%- if loop.last and not loop.first %} {% trans %}and{% endtrans %} {% endif %}
                    {%- if not loop.last and not loop.first -%}, {% endif %}
                    {{- a.name -}}
                {% endfor %}
                <p>
            </td>
            <td class="pa2 v-top db dtc-ns"><span class="di dn-ns">{% trans %}UK registered office{% endtrans %}: </span>{{ c.geo.region|default(c.geo.country|default("", true), true) }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{{ pagination() }}