<div class="fl w-100 w-20-l pr3">
    <div class="mv3 bb b--gray w-100 flex items-center">
        <i class="material-icons">search</i>
        <input name="filter-search" class="w-100 lh-copy bn bg-inherit pa2 border-box" placeholder="Search name or activities" value="{{ filters.get('filter-search', '') }}" autocomplete="off" />
    </div>
    <a href="#" class="link dark-blue dim f7 underline js-toggle js-only" data-toggle-target="more-filters" id="filters-show-hide">Show filters</a>
    <div id="more-filters">
        <div class="mv3 w-100">
            <h3 class="f5 normal mv0 b">Latest income</h3>
            <p class="f6">
                Between 
                <span class="bb bw2 b--light-gray dib w-33">
                    <input name="filter-min-income"
                            type="number"
                            id="min-income"
                            class="input-reset pa1 bn mid-gray w-100 f7"
                            placeholder="£ min"
                            value="{{ filters.get('filter-min-income', '') }}"
                            autocomplete="off">
                </span>
                and 
                <span class="bb bw2 b--light-gray dib w-33">
                    <input name="filter-max-income"
                            type="number"
                            id="max-income"
                            class="input-reset pa1 bn mid-gray w-100 f7"
                            placeholder="£ max"
                            value="{{ filters.get('filter-max-income', '') }}"
                            autocomplete="off">
                </span>
            </p>
        </div>
        {% for group, options in classification.items() %}
        <div class="mv3 w-100">
            <h3 class="f5 normal mb2 b">{{ group|title }}</h3>
            <select class="w-100 ba b--light-gray f7 pa1 h3 js-choice" name="filter-classification" multiple="true">
                {% for value, label in options.items() %}
                <option value="{{value}}" {% if value in filters.getlist('filter-classification') %}selected="selected"{% endif %}>{{label}}</option>
                {% endfor %}
            </select>
        </div>
        {% endfor %}
        <div class="mv3 w-100">
            <h3 class="f5 normal mb2 b">
                UK Region
                <p class="ma0 f6 gray normal i">Based on the UK head office</p>
            </h3>
            <select class="w-100 ba b--light-gray f7 pa1 h3 js-choice" name="filter-regions">
                <option value=""></option>
                <optgroup label="England">
                    <option value="E12000001" {% if "E12000001" in filters.getlist('filter-regions') %}selected="selected"{% endif %}>North East</option>
                    <option value="E12000002" {% if "E12000002" in filters.getlist('filter-regions') %}selected="selected"{% endif %}>North West</option>
                    <option value="E12000003" {% if "E12000003" in filters.getlist('filter-regions') %}selected="selected"{% endif %}>Yorkshire and The Humber</option>
                    <option value="E12000004" {% if "E12000004" in filters.getlist('filter-regions') %}selected="selected"{% endif %}>East Midlands</option>
                    <option value="E12000005" {% if "E12000005" in filters.getlist('filter-regions') %}selected="selected"{% endif %}>West Midlands</option>
                    <option value="E12000006" {% if "E12000006" in filters.getlist('filter-regions') %}selected="selected"{% endif %}>East of England</option>
                    <option value="E12000007" {% if "E12000007" in filters.getlist('filter-regions') %}selected="selected"{% endif %}>London</option>
                    <option value="E12000008" {% if "E12000008" in filters.getlist('filter-regions') %}selected="selected"{% endif %}>South East</option>
                    <option value="E12000009" {% if "E12000009" in filters.getlist('filter-regions') %}selected="selected"{% endif %}>South West</option>
                </optgroup>
                <optgroup label="">
                    <option value="W92000004" {% if "W92000004" in filters.getlist('filter-regions') %}selected="selected"{% endif %}>Wales</option>
                </optgroup>
            </select>
        </div>
        {% if area.countries|length > 1 %}
        <div class="mv3 w-100">
            <h3 class="f5 normal mb2 b">Countries</h3>
            <select class="w-100 ba b--light-gray f7 pa1 h3 js-choice" name="filter-countries" multiple="true">
                {% for group in area.countries|groupby('continent') %}
                <optgroup label="{{ group.grouper }}">
                    {% for c in group.list %}
                    <option value="{{ c['id'] }}" {% if c['id'] in filters.getlist('filter-countries') %}selected="selected"{% endif %}>{{ c['name'] }}</option>
                    {% endfor %}
                </optgroup>
                {% endfor %}
            </select>
        </div>
        {% endif %}
        <div class="mv3 w-100">
            <p class="gray i f6">
                Exclude any charities that say they work in more than 
                <span class="bb bw2 b--light-gray dib">
                    <input name="filter-max-countries"
                            value="{{ filters.get('filter-max-countries', '50') }}"
                            type="number"
                            class="input-reset pa1 bn w3 mid-gray"
                            autocomplete="off" />
                </span>
                countries.
            </p>
        </div>
        <div class="mv3 w-100">
            <label class="gray i f6">
                <input name="filter-exclude-grantmakers"
                        type="checkbox"
                        {% if filters.get('filter-exclude-grantmakers') %}checked=checked{% endif %}
                        value="exclude-grantmakers" />
                Exclude charities that make grants
            </label><br>
            <label class="gray i f6">
                <input name="filter-exclude-religious"
                        type="checkbox"
                        {% if filters.get('filter-exclude-grantmakers') %}checked=checked{% endif %}
                        value="exclude-religious" />
                Exclude religious organisations
            </label>
        </div>
    </div>
    <input type="hidden" class="dn" value="" name="filter-skip" />
    <div class="mv3 w-100">
        <input class="bn bg-light-green pa2 white dim pointer" type="submit" value="Update filters" id="filter-update" />
    </div>
</div>