<div class="cf flex flex-wrap">
    <div class="f5 fl mr4">
        <span class="f1 korolev big-numbers">{{ "{:,.0f}".format(data.count) }}</span><br>
        NGO{{ "s" if data.count > 1 else "" }} found
    </div>
    {% if data.total_income %}
    <div class="f5 fl mr4">
        <span class="f1 korolev big-numbers">£{{ data.total_income|number_format }}</span><br>
        Total income
    </div>
        {% if all_charity_data.total_income %}
        {% set proportion = (data.total_income / all_charity_data.total_income) %}
        {% set precision = 1 if proportion < 0.0095 else 0 %}
        <div class="f5 fl mr4">
            <span class="f1 korolev big-numbers">
            {% if proportion < 0.001 %}
            &lt;0.1%
            {% else %}
            {{ "{:.{prec}%}".format(proportion, prec=precision) }}
            {% endif %}
            </span><br>
            of all charity income
        </div>
        {% endif %}
    {% endif %}
</div>
<h3 class="f5">Example charities</h3>
<dl>
{% for c in data.list|randomn(3) %}
    <dt class="b">
        <a class="link blue b" href="{{ url_for('data.charity', charityid=c.id) }}">
            {{ c.name|correct_titlecase }}
        </a>
    </dt>
    <dd class="mw6-l ml0 mb2">
        <p class="f6 pa0 ma0 lh-copy">
            {% if c.finances and c.finances[0].income %}
            Income <strong>£{{ c.finances[0].income|number_format }}</strong>
            <span class="f7 i gray">({{ c.finances[0].financialYear.end.year }})</span>
            {% endif %}
        </p>
        {% if area %}
        <p class="f7 near-black pa0 ma0">
            {% set cids = area.countries|map(attribute="id")|list %}
            Work in 
            {% for a in c.countries if a.id in cids %}
                {%- if loop.last and not loop.first %} and {% endif %}
                {%- if not loop.last and not loop.first -%}, {% endif %}
                {{- a.name -}}
            {% endfor %}
        </p>
        {% endif %}
    </dd>
{% endfor %}
</dl>