<div class="cf">
    <div class="f5 mr4 mb3">
        <span class="f1 korolev big-numbers v-mid">{{ data.count|_n }}</span><br>
        {% trans count=data.count %}NGO found{% pluralize %}NGOs found{% endtrans %}
    </div>
    {% if data.countries %}
    <div class="f5 mr4 mb3">
        {% if area %}
        {% trans areaname=area.name %}NGOs working in {{ areaname }} also work in a further{% endtrans %}
        {% else %}
        {% trans %}These NGOs work in {% endtrans %}
        {% endif %}
        <span class="f3 korolev big-numbers v-mid">{{ data.countries|length|_n }}</span>
        {% trans count=data.countries|length %}country{% pluralize %}countries{% endtrans %}
    </div>
    {% endif %}
    {% if data.total_income %}
    <div class="f5 mr4 mb3">
        {% trans %}Altogether, these NGOs spend{% endtrans %}
        <span class="f2 korolev big-numbers v-mid">£{{ data.total_income|number_format }}</span><br>
        {% if area %}
        {% trans %}in all these countries{% endtrans %}{% if area %}*{% endif %}
        {% else %}
        {% trans %}in the areas they work{% endtrans %}
        {% endif %}
    </div>
        {% if all_charity_data.total_income %}
        {% set proportion = (data.total_income / all_charity_data.total_income) %}
        {% set precision = 1 if proportion < 0.0095 else 0 %}
        <div class="f5 fl mr4 mb3">
            {% trans %}This is equivalent to {% endtrans %}
            <span class="f3 korolev big-numbers v-mid">
            {% if proportion < 0.001 %}
            &lt;0.1%
            {% else %}
            {{ "{:.{prec}%}".format(proportion, prec=precision) }}
            {% endif %}
            </span>
            {% trans %}of total UK charity spending of{% endtrans %}
            <span class="f3 korolev big-numbers v-mid">£{{ all_charity_data.total_income|number_format }}</span>
        </div>
        {% endif %}
    {% endif %}
</div>
{% if area %}
<p class="pa0 ma0 f7 gray">
    * {% trans areaname = area.name %}It is not possible to 
        isolate income and spending only on {{ areaname }}, we can only report income and spending by  
        organisations in all the countries they work in.{% endtrans %}
</p>
{% endif %}
{% if data.total_income_years %}
<p class="pa0 mh0 mb0 mt1 f7 gray">
    {% trans latest_year=data.total_income_years|dictsort(false, 'value', true)|first|first %}
    Financial data is based on the latest available for these organisations. The latest
    available data is from {{ latest_year }}, though for some organisations it may be earlier.
    {% endtrans %}
</p>
{% endif %}