{% if charts.word_cloud %}
<div>
    <p>Most common words from the description of the first 30 NGOs.</p>
    <ul class="list ma0 pa0">
        {% set max_count = charts.word_cloud.values()|list|first %}
        {% set min_count = charts.word_cloud.values()|list|last %}
        {% set scaling = 50 if max_count > min_count else 20 %}
        {% for word, count in charts.word_cloud.items() %}
        <li class="dib ma0 pa0">
            <span class="{{ loop.cycle('blue b', 'dark-blue') }} link dim" style="font-size: {{ ((count / max_count) * scaling) + 10 }}px;">
                {{ word }}
            </span>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}