<footer class="ph3-ns ph2 cf bg-light-gray">
    <div class="mw9 center mv4-l mv2 cf">
        <div class="fl w-50-ns w-100">
            <p class="normal ma0 f3">
                <a class="link black b ttl ma0" href="{{ url_for('home.index') }}">
                    <img src="{{ url_for('static', filename='images/ngo_explorer_logo_white.svg') }}"
                        class="mw4"
                        alt="NGO Explorer" />
                </a>
                {# <span class="dib mw5 ">Building networks across development NGOs</span> #}
            </p>
            <p class="normal mb0 mt2 f6">
                Part of <a href="https://dkane.net/" class="link dim green underline-hover" target="_blank">
                    <abbr title="Sheffield Institute for International Development (SIID, University of Sheffield)">SIID</abbr>
                </a>
                and <a href="https://www.gdi.manchester.ac.uk/" class="link dim green underline-hover" target="_blank">
                    <abbr title="University of Manchester Global Development Institute">GDI</abbr>
                </a>
                <a href="https://mappingdevelopmentngos.wordpress.com/" class="link dim green underline-hover" target="_blank">Mapping Development NGOs</a> project
                | Funded by <a href="" class="link dim green underline-hover" target="_blank">Funder</a>
            </p>
            <p class="normal mb0 mt2 f6">
                Built by <a href="https://dkane.net/" class="link dim green underline-hover" target="_blank">David Kane</a>
                | Design by <a href="https://inkandwater.co.uk/" class="link dim green underline-hover" target="_blank">Ink and Water</a>
                | Data from <a href="https://charitybase.uk/" class="link dim green underline-hover" target="_blank">Charitybase</a>;
                <a href="http://d-portal.org/ctrack.html#view=search" class="link dim green underline-hover" target="_blank">IATI</a>
                | 
                <a href="https://github.com/drkane/ngo-explorer/" class="link dim green underline-hover" target="_blank">
                    Code</a> <img class="h1"
                        src="{{ url_for('static', filename='images/github.svg') }}"
                        title="Github repository" />
            </p>
        </div>
        <div class="fr-ns fl w-50-ns mt2 mt0-ns w-100 mid-gray tr">
            <ul class="list ma0 pa0 flex-ns items-start justify-between">
                <li class="dib mv0 mr2-ns mb2 mb0-ns pa0 bg-gray" style="margin-left: auto;">
                    <a class="pa2" href="https://siid.group.shef.ac.uk/">
                        <img class="cf"
                            src="{{ url_for('static', filename='images/siid-logo.svg') }}"
                            title="Sheffield Institute for International Development (SIID, University of Sheffield)" />
                    </a>
                </li>
                <li class="dib ma0 pa0 mt2 mt0-ns">
                    <a class="mw3" href="https://www.gdi.manchester.ac.uk/">
                        <img class="cf"
                            src="{{ url_for('static', filename='images/gdi_logo.png') }}"
                            title="Global Development Institute (GDI, University of Manchester)" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>