<header class="pb4 bb b--gray mv4-l mv2 cf">
    <div class="fl w-50-ns w-100">
        <h1 class="ma0 ttu f1">
            <a class="link black b ttl ma0" href="{{ url_for('home.index') }}">
                <span class="tracked-tight">NGO Explorer</span>
                <span class="gray f5 ttl ma0">beta</span>
            </a>
        </h1>
        <h2 class="normal ma0 f3">
            Building networks across development NGOs
        </h2>
    </div>
    <div class="fr-ns fl w-third-ns w-100 mid-gray">
        <p class="mt2 ma0-ns">
            An explorer for data on development charities based in the UK.
            Uses data from the Charity Commission for England and Wales.
            Powered by <a class="link dim dark-blue" href="https://charitybase.uk/">CharityBase</a>.
            <a class="link dim dark-blue" href="{{ url_for('home.about') }}">About this tool</a>
        </p>
    </div>
</header>