{% import "_tabs.html.j2" as tabs %}
<div class="page-header mb4 w-100 cf">
    <div class="flex flex-column items-center tc">
        {% if title %}
        <h2 class="korolev lh-title mb0 mt3">{{ title }}</h2>
        <p class="korolev f4 gray lh-copy mv0">
        {% trans count=charitynumbers|length, ccount=charitynumbers|length|_n %}
        Data on {{ ccount }} charity
        {% pluralize %}
        Data on {{ ccount }} charities
        {% endtrans %}
        </p>
        {% else %}
        <h2 class="korolev lh-title mb0 mt3">
        {% trans count=charitynumbers|length, ccount=charitynumbers|length|_n %}
        Data on {{ ccount }} charity
        {% pluralize %}
        Data on {{ ccount }} charities
        {% endtrans %}
        </h2>
        {% endif %}
        <p class="lh-copy mv2 pa0 f6 gray mw6">
            {% trans %}Figures refer to charities registered with the Charity Commission for England and Wales,
            based on a selection of charities uploaded by a user.{% endtrans %}
        <p>
        {{ tabs.tabs(active_page, pages) }}
    </div>
</div>