{% extends "base.html.j2" %}

{% block title %}{{ data.name|correct_titlecase }} | NGO Explorer{% endblock %}

{% block content %}
<div class="page-header mb4 w-100 cf">
    <div class="w-100 w-50-l fl">
        <h2 class="lh-title ma0">{{ data.name|correct_titlecase }}</h2>
        <span class="f1 fl h1 gray mr1">&ldquo;</span>
        <p class="lh-copy mv2 pa0 f5 gray mw6">
            {{ data.activities }}
        <p>
        {% if data.website %}
        <p>
            <a href="{{ data.website }}" target="_blank" class="external-link">
                {{ data.website|replace("https://", "")|replace("http://", "")|replace("//", "") }}
            </a>
        </p>
        {% endif %}
        {% if data.finances[0].income %}
        <p>
            <strong>Latest income:</strong> {{ "£{:,.0f}".format(data.finances[0].income) }}
            <span class="f6 gray">({{ "{:%B %Y}".format(data.finances[0].financialYear.end) }})</span>
        </p>
        {% endif %}
        <p class="b">Other links:</p>
        <ul class="list">
            <li>
                <a href="https://charitybase.uk/charities/{{ data.id }}" target="_blank" class="external-link">
                    Charitybase
                </a>
            </li>
            <li>
                <a href="http://beta.charitycommission.gov.uk/charity-details/?regid={{ data.id }}&subid=0" target="_blank" class="external-link">
                    Charity Commission
                </a>
            </li>
        </ul>
        {% if data.finances %}
        <div id="chart_finances" class="h5 h6-ns"></div>
        <table>
            <thead>
                <tr>
                    <th class="tl">Date</th>
                    <th class="tr">Income</th>
                    <th class="tr">Spending</th>
                </tr>
            </thead>
            <tbody>
                {% for f in data.finances %}
                <tr>
                    <td>{{ "{:%d %B %Y}".format(f.financialYear.end) }}</td>
                    <td class="w4 tr">£{{ "{:,.0f}".format(f.income) }}</td>
                    <td class="w4 tr">£{{ "{:,.0f}".format(f.spending) }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
    <div class="mb3 w-100 w-25-l fr">
        {% if data.countries|length > 0 %}
            {{ data.countries|location_map() }}
            {% if data.countries|length > 5 %}
            <p>{{ data.name|correct_titlecase }} works in {{ "{:,.0f}".format(data.countries|length) }} countries</p>
            {% else %}
            <p>{{ data.name|correct_titlecase }} works in {% for c in data.countries %}
                <a href="{{ url_for('data.country', countryid=c.iso) }}">
                {{ c.name }}</a>{% if loop.revindex0 == 1 %} and{% elif loop.revindex0 > 1 %},{% endif %}{% endfor %}.</p>
            {% endif %}
        {% endif %}
        {% if data.geo.latitude and data.geo.longitude %}
        <p><strong><i class="material-icons md-18">place</i>Registered office:</strong> {{ data.geo.region }}</p>
        <div id="location-map" class="h5 h6-ns"></div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    const charts = {{ {"finances": data.finance_chart()}|to_plotlyjson }};
</script>
{{super()}}
{% if data.geo.latitude and data.geo.longitude %}
<script src="{{ url_for('static', filename='vendor/leaflet/leaflet.js') }}"></script>
<script type="text/javascript">
const stamen_attribution = 'Map tiles <a href="http://stamen.com">Stamen Design</a> ' + 
    '[<a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>] | ' + 
    'Data <a href="http://openstreetmap.org">OpenStreetMap</a> ' + 
    '[<a href="http://www.openstreetmap.org/copyright">ODbL</a>]';
var layer = L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/toner/{z}/{x}/{y}.png', {attribution: stamen_attribution});
var map = new L.Map("location-map", {
    center: new L.LatLng({{ data.geo.latitude }}, {{ data.geo.longitude }}),
    zoom: 7,
    scrollWheelZoom: false
});
map.addLayer(layer);
map.on('focus', function() { map.scrollWheelZoom.enable(); });
map.on('blur', function() { map.scrollWheelZoom.disable(); });
var marker = L.circleMarker([{{ data.geo.latitude }}, {{ data.geo.longitude }}], {fill: false, weight: 10, color: '#237756'}).addTo(map);
</script>
{% endif %}
{% endblock %}

{% block styles %}
{{super()}}
{% if data.geo.latitude and data.geo.longitude %}
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/leaflet/leaflet.css') }}">
{% endif %}
{% endblock %}