{% extends "base.html.j2" %}
{% set active_page =  "Dashboard" %}

{% block title %}{{ area.name }} | NGO Explorer{% endblock %}

{% macro figure(chart_id, caption=None) %}
<figure class="fl w-100 w-50-l pr3-l mh0 mv2">
    <figcaption class="f4 b mv2 lh-title">{{ caption }}</figcaption>
    <div id="chart_{{ chart_id }}"></div>
</figure>
{% endmacro %}

{% block content %}
<div class="page-content">
    {% include '_data_header.html.j2' %}
    <div class="w-100 pa2 bg-light-gray cf mt2">
        {% include '_data_sidebar.html.j2' %}

        <div class="fl w-100 w-80-l">

            <figure class="fl w-100 w-50-l pr3-l mh0 mv2">
                <figcaption class="f4 b mv1 lh-title">Example charities</figcaption>
                <div id="example-charities">
                {% include '_data_example_charities.html.j2' %}
                </div>
            </figure>

            {{ figure("count", "Number of charities by size")}}
            {{ figure("amount", "Amount of income by size (£)")}}
            {% for k in ["causes", "beneficiaries", "operations"] %}
            {{ figure(k, k|title )}}
            {% endfor %}
        </div>
    </div>
    
    {% include '_data_iati.html.j2' %}
    {% include '_data_other_resources.html.j2' %}


    <div class="cf mv4 lh-copy dn">
        <pre>{{ iati_data|tojson(indent=4) }}</pre>
        <pre>{{ area|tojson(indent=4) }}</pre>
        <pre>{{ data|tojson(indent=4) }}</pre>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='vendor/choices/choices.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/dom-purify/purify.min.js') }}"></script>
<script>
    const api_url = '{{ request.path }}.json';
    const charts = {{ charts|to_plotlyjson }};
</script>
<script src="{{ url_for('static', filename='js/data.js') }}"></script>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/choices/choices.min.css') }}">
{{ super() }}
{% endblock %}