{% extends "base.html.j2" %}

{% block title %}{{ area.name|first_upper }} | NGO Explorer{% endblock %}

{% macro figure(chart_id, caption=None) %}
<figure class="fl w-100 w-50-l pr3-l mh0 mt0 mb2">
    <figcaption class="f4 b mv2 lh-title">{{ caption }}</figcaption>
    <div id="chart_{{ chart_id }}"></div>
</figure>
{% endmacro %}

{% block content %}
{% set active_page =  "dashboard" %}
{% if area.type=="upload" %}
{% include '_upload_data_header.html.j2' %}
{% else %}
{% include '_data_header.html.j2' %}
{% endif %}
<div class="w-100 cf mt2">
    <form action="{{request.path}}" id="filter-form">
        {% include '_data_sidebar.html.j2' %}
    </form>

    <div class="fl w-100 w-70-l flex flex-wrap">

        <figure class="fl w-100 w-50-l pr3-l mh0 mt0 mb2">
            <div id="example-charities" class=" bg-light-gray pa4 br3">
            {% include '_data_example_charities.html.j2' %}
            </div>
        </figure>
        <figure class="fl w-100 w-50-l pr3-l mh0 mt0 mb2">
            <figcaption class="f4 b mv1 lh-title">{% trans %}How NGOs describe themselves{% endtrans %}</figcaption>
            <div id="word-cloud">
            {% include '_data_word_cloud.html.j2' %}
            </div>
        </figure>

        {{ figure("count", _("Number of NGOs by size"))}}
        {{ figure("amount", _("Amount of spending by size (£)"))}}
        {{ figure("countries", _("Where do these NGOs work?"))}}
        {% for k, k_title in [
            ("causes", _("What do these NGOs do?")),
            ("beneficiaries", _("Who do these NGOs work with?")),
            ("operations", _("How do these NGOs work?"))] %}
        {{ figure(k, k_title )}}
        {% endfor %}
    </div>
</div>

{% if not area.type=="upload" %}
{% include '_data_iati.html.j2' %}
{% include '_data_other_resources.html.j2' %}
{% endif %}
{% endblock %}

{% block scripts %}
<script>
    const api_url = '{{ api_url }}';
    {% if data.charts %}
    const charts = {{ data.charts|to_plotlyjson }};
    {% endif %}
</script>
{{ super() }}
<script src="{{ url_for('static', filename='vendor/choices/choices.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/dom-purify/purify.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/data.js') }}"></script>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/choices/choices.min.css') }}">
{{ super() }}
{% endblock %}