{% extends "data.html.j2" %}

{% block content %}
{% set active_page = "show-charities" %}
{% if area.type_=="upload" %}
{% include '_upload_data_header.html.j2' %}
{% else %}
{% include '_data_header.html.j2' %}
{% endif %}
<form action="{{request.path}}" id="filter-form">
    {% include '_data_sidebar.html.j2' %}
</form>

<div class="fl w-100 w-70-l">
    <div class="mb4" id="data-list">
        {% include '_data_list_table.html.j2' %}
    </div>
</div>
{% endblock %}