{% extends "data.html.j2" %}

{% block title %}{% trans %}Data Upload{% endtrans %} | NGO Explorer{% endblock %}

{% block content %}
{% set active_page = "dashboard" %}
{% include '_upload_data_header.html.j2' %}
<div class="w-100 pa2 bg-light-gray cf mt2">
    {% include '_upload_data_sidebar.html.j2' %}

    <div class="fl w-100 w-70-l flex flex-wrap">

        <figure class="fl w-100 w-50-l pr3-l mh0 mv2">
            <div id="example-charities">
            {% include '_data_example_charities.html.j2' %}
            </div>
        </figure>

        {{ figure("count", _("Number of charities by size")) }}
        {{ figure("amount", _("Amount of income by size (£)")) }}
        <figure class="fl w-100 w-50-l pr3-l mh0 mv2">
            <figcaption class="f4 b mv1 lh-title">{% trans %}How NGOs describe themselves{% endtrans %}</figcaption>
            <div id="word-cloud">
            {% include '_data_word_cloud.html.j2' %}
            </div>
        </figure>
        {{ figure("countries", _("Where else do these charities work?")) }}
        {% for k, k_title in [("causes", _("What the charity does")), ("beneficiaries", _("Who the charity works with")), ("operations", _("How the charity works"))] %}
        {{ figure(k, k_title )}}
        {% endfor %}
    </div>
</div>
{% endblock %}