{% extends "upload-data.html.j2" %}

{% block content %}
{% set active_page = "download" %}
{% include '_upload_data_header.html.j2' %}
{% include '_upload_data_sidebar.html.j2' %}

<div class="fl w-100 w-70-l">
    <form action="{{ pages[active_page].url }}">
        <div id="results-download-link" class="mv3 pv3 cf">
            <ul class="list pa0 flex items-strech">
                {% for i in ["Excel", "CSV", "JSON"] %}
                <li class="dib fl mr2">
                    <button class="link white dim pa2 w4 bg-yellow pointer bn tl h-100" value={{i}} type="submit" name="download_type">
                        <i class="material-icons">save_alt</i>
                        {% trans %}Download{% endtrans %}<br>{{ i }}
                    </button>
                </li>
                {% endfor %}
            </ul>
        </div>

    
        <h3 class="korolev mv2 pa0">{% trans %}Fields to include in download{% endtrans %}</h3>
        <p class="f6 gray i mt1">{% trans %}Charities will be included based on the criteria you have selected.{% endtrans %}</p>
        <p class="f6 js-only">
            <a id="results-download-select-all" class="link blue js-select-all" href="#">{% trans %}Select all fields{% endtrans %}</a> | 
            <a id="results-download-clear-all" class="link blue js-clear-all" href="#">{% trans %}Clear all fields{% endtrans %}</a>
        </p>
        <p class="b">{% trans limit=config['DOWNLOAD_LIMIT']|_n %}Downloads are limited to {{ limit }} records{% endtrans %}</p>
        <div class="cf mv3 flex flex-wrap f6">
            {% for slug, options in download_options.items() %}
            <div class="w-100 w-50-m w-25-l pr3">
                <h4 class="korolev mt3 mb0 pv1 bb">{{ options.name }}</h4>
                {% if options.options is mapping %}
                    {% for subslug, suboptions in options.options.items() %}
                    {% if loop.last %}<p class="f6 gray i mt1">{{ options.description }}</p>{% endif %}
                    <p class="f6 js-only">
                        <a id="results-download-fields-{{ slug }}-{{subslug}}-select-all" class="link blue js-select-all" href="#">{% trans %}Select all{% endtrans %}</a> | 
                        <a id="results-download-fields-{{ slug }}-{{subslug}}-clear-all" class="link blue js-clear-all" href="#">{% trans %}Clear{% endtrans %}</a>
                    </p>
                    <div id="results-download-fields-{{ slug }}-{{subslug}}" class="mt3 ">
                        {% for o in suboptions %}
                        <label class="db mv2 custom-checkbox flex items-center">
                            <input type="checkbox" class="mr2" value="{{ o.value }}" name="fields" autocomplete="off" {% if o.checked %} checked="checked"{% endif %}>
                            <span class="checkmark mr2">
                                <i class="material-icons">check</i>
                            </span>
                            {{ o.label }}
                        </label>
                        {% endfor %}
                    </div>
                    {% endfor %}
                {% else %}
                <p class="f6 js-only">
                    <a id="results-download-fields-{{ slug }}-select-all" class="link blue js-select-all" href="#">{% trans %}Select all{% endtrans %}</a> | 
                    <a id="results-download-fields-{{ slug }}-clear-all" class="link blue js-clear-all" href="#">{% trans %}Clear{% endtrans %}</a>
                </p>
                <div id="results-download-fields-{{ slug }}" class="mt3">
                    {% for o in options.options %}
                    <label class="db mv2 custom-checkbox flex items-center">
                        <input type="checkbox" class="mr2" value="{{ o.value }}" name="fields" autocomplete="off" {% if o.checked %} checked="checked"{% endif %}>
                        <span class="checkmark mr2">
                            <i class="material-icons">check</i>
                        </span>
                        {{ o.label }}
                    </label>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </form>
</div>
{% endblock %}
