{% extends "data.html.j2" %}

{% block title %}Data Upload | NGO Explorer{% endblock %}

{% block content %}
{% set active_page = "dashboard" %}
{% include '_upload_data_header.html.j2' %}
<div class="w-100 pa2 bg-light-gray cf mt2">
    {% include '_upload_data_sidebar.html.j2' %}

    <div class="fl w-100 w-80-l flex flex-wrap">

        <figure class="fl w-100 w-50-l pr3-l mh0 mv2">
            <div id="example-charities">
            {% include '_data_example_charities.html.j2' %}
            </div>
        </figure>

        {{ figure("count", "Number of charities by size")}}
        {{ figure("amount", "Amount of income by size (£)")}}
        <figure class="fl w-100 w-50-l pr3-l mh0 mv2">
            <figcaption class="f4 b mv1 lh-title">How NGOs describe themselves</figcaption>
            <div id="word-cloud">
            {% include '_data_word_cloud.html.j2' %}
            </div>
        </figure>
        {{ figure("countries", "Where else do these charities work?")}}
        {% for k in ["causes", "beneficiaries", "operations"] %}
        {{ figure(k, k|title )}}
        {% endfor %}
    </div>
</div>
{% endblock %}