{% extends "upload-data.html.j2" %}

{% block content %}
{% set active_page = "show-charities" %}
{% include '_upload_data_header.html.j2' %}
{% include '_upload_data_sidebar.html.j2' %}

<div class="fl w-100 w-80-l">
    <div class="mv4" id="data-list">
        {% include '_data_list_table.html.j2' %}
    </div>
</div>
{% endblock %}
