{% extends "base.html.j2" %}

{% block title %}Data Upload | NGO Explorer{% endblock %}

{% macro figure(chart_id, caption=None) %}
<figure class="fl w-100 w-50-l pr3-l mh0 mv2">
    <figcaption class="f4 b mv2 lh-title">{{ caption }}</figcaption>
    <div id="chart_{{ chart_id }}"></div>
</figure>
{% endmacro %}

{% block content %}
{% include '_upload_data_header.html.j2' %}
<div class="w-100 cf mt2">
    <div class="fl w-100 w-20-l pr3">
        &nbsp;
    </div>
    <div class="fl w-100 w-80-l">

        <figure class="fl w-100 w-50-l pr3-l mh0 mv2">
            <figcaption class="f4 b mv1 lh-title">Example charities</figcaption>
            <div id="example-charities">
            {% include '_data_example_charities.html.j2' %}
            </div>
        </figure>

        {{ figure("count", "Number of charities by size")}}
        {{ figure("amount", "Amount of income by size (£)")}}
        {% for k in ["causes", "beneficiaries", "operations"] %}
        {{ figure(k, k|title )}}
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='vendor/choices/choices.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/dom-purify/purify.min.js') }}"></script>
<script>
    const api_url = '{{ api_url }}';
    const charts = {{ charts|to_plotlyjson }};
</script>
<script src="{{ url_for('static', filename='js/data.js') }}"></script>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/choices/choices.min.css') }}">
{{ super() }}
{% endblock %}