name: Pytest
on: [push, pull_request]
jobs:
  python-test:
    runs-on: ubuntu-latest

    env:
      SECRET_KEY: 1234567890

    steps:
      - uses: actions/checkout@v3
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.7.19"
          enable-cache: true
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version-file: ".python-version"
      - name: Install dependencies
        run: uv sync --locked --all-extras --dev
      - name: ruff
        run: |
          uv run ruff check .
          uv run ruff format . --check
      - name: Test with pytest
        run: |
          uv run python -m pytest
